@model IEnumerable<WebAppMvcCalviFederico.Models.Anagrafica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Movies" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Via)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCivico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Social)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Via)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCivico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Social)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodFiscale">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodFiscale">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodFiscale">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
